*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Arial, Helvetica, sans-serif;
}

header{
  height: 60px;
  background-color: #add8e6;
  display: flex;
  align-items: center;
  justify-content: center;
  /* perchè queste ultime due regole le devo dare all'heder e non a container? */
}

.container{
  display: flex;
  height: 30px;
  margin: 0 auto;
  width: 1000px;
}

.debug{
  background-color: #daa520;
  border: 1px solid black;
  border-style: dotted;
}

.container .box-logo{
  align-items: center;
  flex-grow: 1;
}

.container .box-nav{
  align-items: center;
  justify-content: center;
  /* width: 3000px; */
  /* flex-grow? */
  flex-grow: 3;
}

nav ul{
  list-style: none;
  display: flex;
}

.container .box-accedi{
  align-items: center;
  justify-content: flex-end;
}

/* hero */

.elements-hero .debug{
  border: 1px solid black;
  border-style: dotted;
}

.box-hero{
  height: 450px;
  background-color: #00008b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-hero .elements-hero{
  background-color: #ee82ee;
  height: 350px;
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* /hero */

.block-img .writing-block .debug{
  border: 1px solid black;
  border-style: dotted;
}

.container-white{
  background-color: white;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-white .block-img{
  background-color: #1e90ff;
  height: 450px;
  width: 620px;
}

.container-white .writing-block{
  background-color: #ffc0cb;
  height: 450px;
  width: 400px;
}